---
import links from 'public/links.json'
import config from 'virtual:config'

import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'



const { friends } = links
const linksConf = config.integ.links
const linkEditPage = 'https://github.com/SunXin121/astro-theme-pure/blob/main/public/links.json'
---

<PageLayout title='Friend Links' {} comment>
  <p>怎么可能有顺序呢，当然是随机的~ It's random</p>
  <FriendList list={friends[0]} />



  <h2>本站信息</h2>
  <blockquote class='not-prose grid grid-cols-[auto_1fr] gap-x-2 break-words border-s-4 ps-4'>
    {
      linksConf.applyTip.map(({ name, val }) => {
        const script = `navigator.clipboard.writeText('${val}');document.dispatchEvent(new CustomEvent('toast',{detail:{message:'Copied "${val}" to clipboard!'}}))`
        return (
          <>
            <span class='text-end'>{name}:</span>
            <samp class='cursor-pointer' onclick={script}>
              {val}
            </samp>
          </>
        )
      })
    }
  </blockquote>

  <br />
  <p>
    可通过下方留言或 <a href={linkEditPage} target='_blank'>提交 PR</a> 申请友链。此外申请说明：
  </p>
  <ul>
    <li>在你的友链上添加了本站. </li>
    <li>请确保你的站点活着.</li>
    <li>博客内容不违反国家法律.</li>
  </ul>
</PageLayout>
